.test {
  background-color: #f09f4d;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: red;
  color: #f7f5f3;
  cursor: pointer;
  display: inline;
  display: block;
  font-family: inherit;
  font-size: var(--child-font-size-lv3);
  font-weight: 500;
  height: 2.963em;
  line-height: 2.963em;
  margin-inline: auto;
  margin-top: 2.5em !important;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-align: left;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  width: 14.815em;
}